
.photo-grid {
  min-width: 288px;
  margin: 0 16px;
  padding-top: 64px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
  grid-gap: 12px;
}

@media (min-width: 768px) {
  .photo-grid {
    margin-top: 24px;
    margin-bottom: 24px;
    min-width: 720px;
    padding-top: 88px;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    grid-gap: 16px;
  }
}

@media (min-width: 1024px) {
  .photo-grid {
    margin-top: 48px;
    margin-bottom: 48px;
    min-width: 928px;
    padding-top: 92px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 14px;
  }
}

@media (min-width: 1280px) {
  .photo-grid {
    min-width: 1184px;
    padding-top: 92px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 16px;
  }
}
