.lead {
  padding-top: 32px;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 768px) {
  .lead {
    padding-top: 48px;
  }
}

@media (min-width: 1024px) {
  .lead {
    padding-top: 21px;
    max-width: 928px;
  }
}

@media (min-width: 1280px) {
  .lead {
    max-width: 984px;
    padding-top: 28px;
  }
}
