@import url(./__logo/header__logo.css);
@import url(./__links/header__links.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_active/header__lang-link_active.css);

.header {
  width: auto;
  max-height: 42px;
  margin: 0;
  padding: 16px 16px 0;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .header {
    max-height: 52px;
    padding: 28px 24px 0;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 28px 48px 0;
  }
}
