.intro {
  padding-top: 53px;
  margin: 0 auto;
  max-width: 288px;
}

@media (min-width: 768px) {
  .intro {
    padding-top: 79px;
    max-width: 720px;
  }
}

@media (min-width: 1024px) {
  .intro {
    padding-top: 82px;
    max-width: 690px;
    margin-left: 48px;
  }
}

@media (min-width: 1280px) {
  .intro {
    margin-left: 148px;
  }
}
