.footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 24px;
  max-width: 320px;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    max-width: 720px;
    padding-top: 87px;
  }
}

@media (min-width: 1024px) {
  .footer {
    max-width: 928px;
    padding-top: 92px;
  }
}

@media (min-width: 1280px) {
  .footer {
    max-width: 1184px;
    padding-top: 90px;
  }
}
